PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
    id_usuario INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT,
    correo TEXT,
    contrase├▒a TEXT,
    rol TEXT,
    failed_attempts INTEGER,
    blocked INTEGER,
    enabled INTEGER,
    blocked_until BOOLEAN
);
INSERT INTO users VALUES(1,'sebastian','sebastianlongas2027@gmail.com','9290b2a2fdaef71587be9a50fa4c6aff:ded5395a04e03fe3c16ec480a8c1fd20c43f21fbb4bcd354753a36d53e54c83d','administrator',0,0,1,NULL);
INSERT INTO users VALUES(2,'Drahuner','yarlenis_velez@hotmail.com','20d21dd2d579aba43328afcd592471fc:b9912a903e65963b5f74ad8b3d92086ee9e6ca03ff766c5bc5dc67d9c654c2e6','usuario',0,0,1,NULL);
INSERT INTO users VALUES(3,'jhon','jhonrafaelmercado22@gmail.com','5e5c74d953b1ecdbc3428a21bc484122:3021ad9aaba7e4514ecd89e9f45a97a1ab81280f98c019795feb80d5ed608055','secretaria',NULL,NULL,0,NULL);
CREATE TABLE roles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    role_name TEXT UNIQUE NOT NULL
);
INSERT INTO roles VALUES(1,'administrator');
INSERT INTO roles VALUES(2,'usuario');
INSERT INTO roles VALUES(3,'secretaria');
CREATE TABLE user_roles (
    user_id INTEGER,
    role_id INTEGER,
    FOREIGN KEY(user_id) REFERENCES users(id_usuario),
    FOREIGN KEY(role_id) REFERENCES roles(id)
);
INSERT INTO user_roles VALUES(1,1);
INSERT INTO user_roles VALUES(2,2);
INSERT INTO user_roles VALUES(3,3);
CREATE TABLE audit_log (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    action TEXT,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES users(id_usuario)
);
INSERT INTO audit_log VALUES(1,1,'CREATED USER','2025-10-15 11:09:52');
INSERT INTO audit_log VALUES(2,1,'LOGIN_SUCCESS_2FA','2025-10-16 11:01:52');
INSERT INTO audit_log VALUES(3,2,'CREATED USER','2025-10-16 11:06:24');
CREATE TABLE access_log (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    ip_address TEXT,
    success BOOLEAN,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES users(id_usuario)
);
INSERT INTO access_log VALUES(1,1,'127.0.0.1',0,'2025-10-15 11:09:56');
INSERT INTO access_log VALUES(2,1,'127.0.0.1',0,'2025-10-15 11:13:56');
INSERT INTO access_log VALUES(3,1,'127.0.0.1',0,'2025-10-15 11:18:05');
CREATE TABLE maintenance (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    start_time DATETIME,
    end_time DATETIME,
    message TEXT
);
CREATE TABLE fabrics ( -- tipos de tela
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT UNIQUE NOT NULL
);
CREATE TABLE colors (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT UNIQUE NOT NULL,
    hex_code TEXT
);
INSERT INTO colors VALUES(3,'Verde olivo oscuro','#5d7237');
INSERT INTO colors VALUES(4,'marron claro','#8b8365');
INSERT INTO colors VALUES(5,'azul marino','#326185');
CREATE TABLE patterns ( -- estampados
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT UNIQUE NOT NULL
);
CREATE TABLE garments ( -- prendas
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    fabric_id INTEGER,
    color_id INTEGER,
    pattern_id INTEGER,
    FOREIGN KEY(fabric_id) REFERENCES fabrics(id),
    FOREIGN KEY(color_id) REFERENCES colors(id),
    FOREIGN KEY(pattern_id) REFERENCES patterns(id)
);
CREATE TABLE estados (
    id_estado INTEGER PRIMARY KEY AUTOINCREMENT,
    descripcion TEXT
);
INSERT INTO estados VALUES(1,'En proceso');
INSERT INTO estados VALUES(2,'Completado');
INSERT INTO estados VALUES(3,'Cancelado');
CREATE TABLE tipo_documento (
    id_tipo_documento INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    Number INTEGER
);
INSERT INTO tipo_documento VALUES(1,'CC',1003401868);
INSERT INTO tipo_documento VALUES(2,'CC',123456789);
INSERT INTO tipo_documento VALUES(3,'TI',987654321);
CREATE TABLE usuario (
    id_cliente INTEGER PRIMARY KEY AUTOINCREMENT,
    id_usuario INTEGER,
    nombre1 TEXT,
    nombre2 TEXT,
    apellido1 TEXT,
    apellido2 TEXT,
    direccion TEXT,
    telefono1 TEXT,
    telefono2 TEXT,
    id_tipo_documento INTEGER,
    FOREIGN KEY(id_usuario) REFERENCES users(id_usuario),
    FOREIGN KEY(id_tipo_documento) REFERENCES tipo_documento(id_tipo_documento)
);
INSERT INTO usuario VALUES(1,1,'sebastian','','longas','cadavid','carrera 50D #65 - 29','3137861861','',1);
INSERT INTO usuario VALUES(2,2,'xd','dx','xx','dd','carrera 50D #65 - 29','3137861861','',2);
INSERT INTO usuario VALUES(3,3,'','','','','','','',3);
CREATE TABLE tipo_prenda (
    id_tipo_prenda INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT
);
INSERT INTO tipo_prenda VALUES(1,'Camiseta',NULL);
INSERT INTO tipo_prenda VALUES(4,'Blusa',NULL);
INSERT INTO tipo_prenda VALUES(5,'Chaqueta',NULL);
CREATE TABLE tipo_tela (
    id_tipo_tela INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT
);
INSERT INTO tipo_tela VALUES(1,'Algod├│n','.');
INSERT INTO tipo_tela VALUES(2,'Poli├®ster',NULL);
INSERT INTO tipo_tela VALUES(6,'Nilo','.');
CREATE TABLE tipo_molde (
    id_tipo_molde INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT
, talla TEXT);
INSERT INTO tipo_molde VALUES(6,'talla peque├▒a','para personas de estatura X','S');
INSERT INTO tipo_molde VALUES(12,'talla mediana','para personas de estatura X','M');
INSERT INTO tipo_molde VALUES(13,'talla extra extra grande','para personas de estatura X','XXL');
CREATE TABLE tipo_estilo (
    id_tipo_estilo INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT
, id_tipo_prenda INTEGER REFERENCES tipo_prenda(id_tipo_prenda));
INSERT INTO tipo_estilo VALUES(5,'Manga corta',NULL,1);
INSERT INTO tipo_estilo VALUES(6,'Manga larga',NULL,1);
INSERT INTO tipo_estilo VALUES(7,'Cuello V',NULL,1);
CREATE TABLE prenda (
    id_prenda INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT,
    id_tipo_prenda INTEGER,
    FOREIGN KEY(id_tipo_prenda) REFERENCES tipo_prenda(id_tipo_prenda)
);
INSERT INTO prenda VALUES(1,'Camiseta b├ísica',NULL,1);
INSERT INTO prenda VALUES(2,'Pantal├│n vaquero',NULL,2);
INSERT INTO prenda VALUES(3,'Sudadera con capucha',NULL,3);
CREATE TABLE molde (
    id_molde INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT,
    id_tipo_molde INTEGER,
    FOREIGN KEY(id_tipo_molde) REFERENCES tipo_molde(id_tipo_molde)
);
INSERT INTO molde VALUES(1,'Cl├ísico redondo',NULL,1);
INSERT INTO molde VALUES(2,'Slim fit',NULL,2);
CREATE TABLE tela (
    id_tela INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT,
    id_tipo_tela INTEGER,
    FOREIGN KEY(id_tipo_tela) REFERENCES tipo_tela(id_tipo_tela)
);
INSERT INTO tela VALUES(3,'Mezcla algod├│n-poli├®ster',NULL,3);
INSERT INTO tela VALUES(4,'Algod├│n','al',NULL);
CREATE TABLE estilo (
    id_estilo INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    descripcion TEXT,
    id_tipo_estilo INTEGER,
    FOREIGN KEY(id_tipo_estilo) REFERENCES tipo_estilo(id_tipo_estilo)
);
INSERT INTO estilo VALUES(1,'Casual diario',NULL,1);
INSERT INTO estilo VALUES(2,'Deportivo urbano',NULL,2);
CREATE TABLE producto (
    id_producto INTEGER PRIMARY KEY AUTOINCREMENT,
    descripcion TEXT,
    id_prenda INTEGER,
    id_estilo INTEGER,
    id_molde INTEGER,
    id_tela INTEGER,
    id_cliente INTEGER,
    id_estado INTEGER, created_at TEXT, id_talla TEXT,
    FOREIGN KEY(id_prenda) REFERENCES prenda(id_prenda),
    FOREIGN KEY(id_estilo) REFERENCES estilo(id_estilo),
    FOREIGN KEY(id_molde) REFERENCES molde(id_molde),
    FOREIGN KEY(id_tela) REFERENCES tela(id_tela),
    FOREIGN KEY(id_cliente) REFERENCES usuario(id_cliente),
    FOREIGN KEY(id_estado) REFERENCES estados(id_estado)
);
INSERT INTO producto VALUES(24,'Camiseta | Cuello V | Nilo | color:#44648d | talla:XXL',1,7,NULL,6,4,1,'2025-11-20 01:40:24',NULL);
INSERT INTO producto VALUES(25,'Camiseta | Oversize | Selecciona tela | color:#1b5aac | talla:XXL',1,8,NULL,NULL,4,1,'2025-11-20 01:50:19',NULL);
INSERT INTO producto VALUES(26,'Chaqueta | Chaqueta bomber | Nilo | color:#1b5aac | talla:XXL',5,13,NULL,6,4,1,'2025-11-20 01:50:53',NULL);
CREATE TABLE password_reset_tokens (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, token TEXT UNIQUE NOT NULL, expires_at DATETIME NOT NULL, used BOOLEAN DEFAULT 0, FOREIGN KEY(user_id) REFERENCES users(id));
INSERT INTO password_reset_tokens VALUES(1,1,'df5ade8398a302381f5ce05849fbacec4b2b9fb14eeb83a8afb5fd0fda5cda66','2025-10-20T03:46:54.364322',1);
INSERT INTO password_reset_tokens VALUES(2,1,'86aff3c176eaccb8c1a2660e71e00300904ce0598aab054256a8727a79925198','2025-10-20T03:49:21.086797',1);
INSERT INTO password_reset_tokens VALUES(3,1,'60c1d8d4796a66f9c4cbbacb585bed3a37a114a0806072fce8139d08322ec575','2025-10-20T04:37:18.612972',0);
CREATE TABLE IF NOT EXISTS "orders" (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, estado INTEGER REFERENCES estados(id_estado), producto INTEGER REFERENCES producto(id_producto), descripcion TEXT,
    FOREIGN KEY(user_id) REFERENCES users(id_usuario)
);
INSERT INTO orders VALUES(4,4,'2025-11-20 23:52:52',1,24,NULL);
INSERT INTO orders VALUES(5,4,'2025-11-20 23:52:52',1,25,NULL);
INSERT INTO orders VALUES(6,4,'2025-11-20 23:52:52',1,26,NULL);
INSERT INTO sqlite_sequence VALUES('users',6);
INSERT INTO sqlite_sequence VALUES('usuario',6);
INSERT INTO sqlite_sequence VALUES('audit_log',254);
CREATE TRIGGER sync_orders_after_product_insert AFTER INSERT ON producto FOR EACH ROW BEGIN INSERT INTO orders (user_id, estado, producto, descripcion) VALUES ((SELECT id_usuario FROM usuario WHERE id_cliente = NEW.id_cliente), NEW.id_estado, NEW.id_producto, NEW.descripcion); END;
CREATE UNIQUE INDEX idx_unique_color ON colors(name, hex_code);
COMMIT;
