/* Fondo con color base */
body {
  background: #F8F1E5;
  color: #2F3131;
  font-family: Arial, sans-serif;
}

/* Estilo del contenedor del error */
.error-container {
  background: #F8F1E5;
  border: 2px solid #426E86;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.error-container h1 {
  font-size: 8rem;
  color: #F9BA32;
  font-weight: bold;
}

.error-container p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.error-container a {
  text-decoration: none;
  padding: 10px 20px;
  background: #426E86;
  color: #F8F1E5;
  border-radius: 8px;
  font-weight: bold;
}

.error-container a:hover {
  background: #2F3131;
}
